[submodule "backend"]
	path = backend
	url = https://github.com/d4vz/fireflies-tech-challenge-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/d4vz/fireflies-tech-challenge-frontend.git
